
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b);
  color:black;
}

header{
  padding: 8px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background: rgba(255,255,255,0.5);
  font-size: 20px;
  font-family: Roboto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.logo {
  height: 24px;
  margin-right: 10px; 
  padding-left: 10px;
}

.text-input{
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  border-top: 1px solid white;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 35px;
}

.button, .input {
  border-radius: 15px;
}

.button {
  margin-top: 8px;
  border: solid white 1px;
  margin-left: 3px;
}
.button:disabled {
  background: grey;
  color: black;
}

.sendbutton {
  height: 15px;
}

.input {
  background: black;
  color: white;
  margin-top: 8px;
  height: 23px;
  width: 89%;
  border: solid white 1px;
  outline: none;
  padding-left: 10px;
}

.messages {
  color: white;
  background: black;
  margin: 5px;
  border-radius: 5px;
  padding: 3px 6px;
  display: inline-block;
}

.allmessages {
  height: calc(100vh - 96px);
  position: absolute;
  display: flex;
  top: 48px;
  flex-direction: column-reverse;
  overflow-y: scroll;
  left: 0px;
  width: 100vw;
}

.text-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.text-wrapper[from='me']{
  justify-content: flex-end;
}

.logo-wrap {
  display:flex;
  align-items: center;
}

.name-button {
  cursor: pointer;
  padding: 4px;
  background: transparent;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  height: 29px;
  margin: 0 6px;
}
.name-button:hover{
  background: rgba(255, 255,255,0.1)
}
.name-input{
  height: 31px;
  border-radius: 14px;
  padding-left: 12px;
  padding-bottom: px;
  background: black;
  color: white;
  border: solid white 1px;
  outline: none;
}
.edit-username {
  display: flex;
  align-items: center;
}

.msg-name {
  font-size: 10px;
  padding-left: 7px;
  color: black;
}

.cam {
  margin-top: 5px;
  border-radius: 50px;
}